@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  list-style: none;
}

.wrapper {
    background: #FF8008;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFC837, #FF8008);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFC837, #FF8008);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-clock, .container-chronometer, .container-token {
    width: 450px;
    height: 280px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 4px 21px -2px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 3px 4px 21px -2px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 3px 4px 21px -2px rgba(0, 0, 0, 0.38);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .container-token {
    height: 240px;
    justify-content: flex-end;
  }
  
  .container-chronometer {
    width: 600px;
  }
  
  .container-clock .clock, .container-chronometer .chronometer {
    font-size: 5.3rem;
    letter-spacing: 3px;
  }
  
  .container-clock .clock .seconds {
    font-size: 3rem;
    margin-left: 5px;
  }
  
  .container-clock .info {
    padding: 4px;
    font-size: 1.5rem;
  }
  